.item-cart{
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-cart img{
    flex:2;
    height: 130px;
}

.item-cart .info {
    flex:6;
}

.itme-cart label{
    flex:1;
}